<%= form_for([@location, @job]) do |f| %>
  <% if @job.errors.any? %>
    
<div id="error_explanation">
      <h2> We could not save your entry because we found <%= pluralize(@job.errors.count, "error") %>. Make sure you didn't miss any required fields.</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="span9">
<div class="jobs-form-wrapper">
	
	<div class="row-fluid">
		<div class="span9">
			Field of work:<br>
			<%= f.select :field, [['Administration', 'Administration'], ['Advertising', 'Advertising'], ['Art', 'Art'], ['Business Development', 'Business Development'], ['Education', 'Education'], ['Finance', 'Finance'], ['General Labor', 'General Labor'], ['Healthcare', 'Healthcare'], ['Hospitality', 'Hospitality'], ['Internet', 'Internet'], ['Legal', 'Legal'], ['Manufacturing', 'Manufacturing'], ['Marketing', 'Marketing'], ['Non-Profit', 'Non-Profit'],  ['Real Estate', 'Real Estate'], ['Sales', 'Sales'], ['Security', 'Security'], ['Technology', 'Technology'],['Wellness', 'Wellness']], :class => "job-field-select",  :placeholder => "Required Field" %> <br>
		</div>
	</div>
	
	<div class="row-fluid">
		<div class="span9">
			Job Title: <%= f.text_field :title, :class => "job-title-field", :placeholder => "Required Field" %><br>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span9">
			Description: <%= f.text_area :description, :class => "job-description-field", :placeholder => "Required Field"  %>
		</div>
	</div>
	
	<div class="row-fluid">
		<div class="span9">
			Web link: <%= f.text_field :link, :class => "job-link-field" %><br>
		</div>
	</div>
	
	<div class="row-fluid">
		<div class="span9">
			Contact info: <%= f.text_field :contact_info, :class => "job-contact_info-field", :placeholder => "Required Field"  %><br>
		</div>
	</div>
	</div>
	
	We know these are annoying but we have to make sure you are a real person :)
	<%= recaptcha_tags %>
	
	<div class="row-fluid">
		<div class="span9">
			<div id="new-job-submit">
	 			<%= f.submit "Add Job", :class=>"btn" %>
			<div>
		</div>
	</div>
<% end %>
	
</div>
</div>
