<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="row-fluid">
		<div class="span12">
			Job Title: <%= f.text_field :title, :class => "job-title-field", :placeholder => "Required Field" %><br>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span12">
			Description: <%= f.text_area :description, :class => "job-description-field", :placeholder => "Required Field"  %>
		</div>
	</div>
	
	<div class="row-fluid">
		<div class="span12">
			Web Link: <%= f.text_field :link, :class => "job-link-field" %><br>
		</div>
	</div>
	
	<div class="row-fluid">
		<div class="span12">
			Contact Info: <%= f.text_field :contact_info, :class => "job-contact_info-field", :placeholder => "Required Field"  %><br>
		</div>
	</div>
	
	<div class="row-fluid">
		<div class="span9">
			<div id="new-job-submit">
	 			<%= f.submit "Add Job" %>
			<div>
		</div>
	</div>
<% end %>
