<div class="container">
	
	<div class="row-fluid">
		<div class="span9">
			<div id="new-jobs-heading">
				<legend>Jobs 
					<%= link_to "Post Job", new_location_job_path, :class => "post-jobs" %>
				</legend>
				
				
				<div class="row-fluid">
					<div class="span12">
						<% @jobs.reverse.each do |job| %>
					 		<div id="job-title">
								<h4><%= link_to "#{job.title}", location_job_path(:viewing,job)%><h4>
							</div>
							
							<div id="job-field">
								[<%= job.field %>]
							</div>
					
								<div id="job-datetime-created">
									added <%= time_ago_in_words(job.created_at).gsub("about", "") %> ago
								</div>
										
		
							<div id="job-description">
									<%= truncate("#{job.description}", :length => 400, :omission => '... (continued)') %>
							</div>
							<hr>
					 		<% end %>
					</div>
				</div>
				
				
			</div>	
		</div>	
		
		<div class="span3">
			<div id="whatsnew-heading">
				<legend>News</legend>
				<h5>Join our mailing list</h5>
				<%= render "newsletters/form" %>
			</div>	
		</div>
	
</div>	
