<div class="container">
	
	<div class="row-fluid">
		<div class="span9">
			<div id="new-jobs-heading">
				<legend>Jobs 
					<%= link_to "Post Job", new_location_job_path, :class => "post-jobs" %>
				</legend>
				
				<%= search_form_for @search, :url => location_jobs_path do |f| %>
				  <%= f.text_field :title_cont, :class => "search-bar", :placeholder => "Search jobs" %>
				  <%= f.submit %>
				<% end %>
				
				
				<div class="row-fluid">
					<div class="span12">
						<% @jobs.find( :all, :order => "created_at DESC").each do |job| %>
					 		<div id="job-title">
								<h4><%= link_to "#{job.title}", location_job_path(@location, job)%><h4>
							</div>
							
							<div id="job-field">
								[<%= job.field %>]
							</div>
					
								<div id="job-datetime-created">
									added <%= time_ago_in_words(job.created_at).gsub("about", "") %> ago
								</div>
										
		
							<div id="job-description">
									<%= simple_format (truncate("#{job.description}", :length => 400, :omission => '... (continued)')) %>
							</div>
							<hr>
					 		<% end %>
					</div>
				</div>
				
				
			</div>	
		</div>	
		
		<div class="span3">
			<div id="whatsnew-heading">
				<legend>News</legend>
				<p>Want to keep informed of new events and postings?</p>
				<h5>Join our mailing list</h5>
				<%= render "newsletters/form" %>
			</div>	
		</div>
	
</div>	
