<%= render 'adduserdashbar' %>

<% if @search.conditions.empty? == false %>
		
<% @users.each do |user| %>

	<div class="container">
	<div class="show-wrapper">	
				<div class="row-fluid">
					<div class="span9">
						<div class="title">
							<%= user.firstname %> <%= user.lastname %> 
							</div>
						<div class="how-we-met-wrapper">
					 		<div id="how-we-met-location"> 
									<div class="span12">
									<div class="add-contact-wrapper">
									You have found <%= user.firstname%>! Looks like <%= user.firstname %> has shared his loop number with you so that you can store his networking profile. 
									<div class="add-contact-button-wrapper">
										<div class="row-fluid">
										<div class="span6">
											<%= link_to friendships_path(:friend_id => user), :class => "btn btn-large", :method => :post do  %>
											<%= "Add to dashboard"  %>
											<% end %>
										</div>
										<div class="span6">
												<%= link_to loops_path, :class => "btn btn-large" do %>
												<%= "Cancel" %>
												<% end %>
										</div>
										</div>	
									</div>	
											
									</div>			
									</div>
								</div>
						</div>
					</div>
					
					
				
				
				<div class="span3">
					<div id="contact-heading">
						Contact info
					</div>

					<div class="row-fluid">
						<div class="span12">
							<div id="contact-field-css">
								Title
								</div>
							<div id="contact-answer-css">
							<%= user.title %>
							</div>
							<br>
							<div id="contact-field-css">
								Industry
								</div>
							<div id="contact-answer-css">
							<%= user.industry %>
							</div>
							<br>
							<div id="contact-field-css">
								Phone
								</div>
							<div id="contact-answer-css">
							<%= user.phone %>
							</div>
							<br>
							<div id="contact-field-css">
							Email
							</div>
							<div id="contact-answer-css">
							<%= mail_to "#{user.email}" %>
							</div>
							<br>
							<div id="contact-field-css">
								Website:
								</div>
							<div id="contact-answer-css"><%= link_to "#{user.website}", user.website %></div>
						</div>
					</div>
		  		</div>
			</div>	

<% end %>
<% else %>
Sorry, looks like that loop # didn't work. Please try again and remember, they are case-sensitive! <%= link_to "Back", 	 'loops/new' %>
<% end %>
			