<div class="container">
	
	<div class="row-fluid">
		<div class="span9">
			<div id="new-jobs-heading">
				<legend>Jobs 
					<%= link_to "Post Job", new_job_path, :class => "post-jobs" %>
				</legend>
				
				
				<div class="row-fluid">
					<div class="span12">
						<% @jobs.reverse.each do |job| %>
					 		<div id="job-title">
								<h4><%= link_to "#{job.title}", job %><h4>
							</div>
					
								<div id="job-datetime-created">
									added <%= time_ago_in_words(job.created_at).gsub("about", "") %> ago
								</div>
										
		
							<div id="job-description">
					 		<%= job.description %>
							</div>
							<hr>
					 		<% end %>
					</div>
				</div>
				
				
			</div>	
		</div>	
		
		<div class="span3">
			<div id="whatsnew-heading">
				<legend>News</legend>
				<%= link_to "Newsletter", new_newsletter_path %>
				<%= render "newsletters/form" %>
			</div>	
		</div>
	
</div>	
