<%= form_for(@loop) do |f| %>
  <% if @loop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loop.errors.count, "error") %> prohibited this loop from being saved:</h2>

      <ul>
      <% @loop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row-fluid">	
<div class="span12">
<div class="form-css">

	
	<div class="row-fluid">
		<div class="span12">
			<div class="span6">
				*Date of introduction:<br> <%= f.text_field :date, :class => "datepicker", :placeholder => "Required" %>
			</div>
		</div>
	</div>	
	<div class="row-fluid">
		<div class="span12">
			Where you met: <%= f.text_field :location, :class => "loop-field2", :placeholder => "e.g. New York's Real Estate Meetup" %><br>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span12">
			<div class="span6">
				*First name: <%= f.text_field :firstname, :class => "loop-field2", :placeholder => "Required" %><br>
			</div>

			<div class="span6">
				*Last name: <%= f.text_field :lastname, :class => "loop-field2", :placeholder => "Required" %><br>
			</div>
		</div>
	</div>
	
	<div class="row-fluid">
		<div class="span12">
			<div class="span6">
			Title: <%= f.text_field :title, :class => "loop-field2" %><br>
			</div>
			<div class="span6">
			Industry: <%= f.text_field :industry, :class => "loop-field2" %><br>
			</div>	
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div class="span6">
			Phone Number: <%= f.text_field :phone, :class => "loop-field2" %><br>
			</div>
			<div class="span6">
			Email: <%= f.text_field :email, :class => "loop-field2" %><br>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6">
			Website: <%= f.text_field :website, :class => "loop-field2" %><br>
		</div>
	</div>	
	
</div>
	<script>
	  $(function() {
	    $( ".datepicker" ).datepicker({
		      dateFormat: "yy-mm-dd"
		    });
		 	});

	  </script>

    <%= f.submit "Save", :class => "btn" %>
</div>	
</div>
</div>

<% end %>