<%= form_for(@loop) do |f| %>
  <% if @loop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loop.errors.count, "error") %> prohibited this loop from being saved:</h2>

      <ul>
      <% @loop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
	First name: <%= f.text_field :firstname %><br>
	Last name: <%= f.text_field :lastname %><br>
	Title: <%= f.text_field :title %><br>
	Phone Number: <%= f.text_field :phone %><br>
	Email: <%= f.text_field :email %><br>
	Location where we met: <%= f.text_field :location %><br>
	Comment: <%= f.text_field :comment %><br>
	Date: <%= select_date Date.today, :order => [:month, :day, :year], :prefix => :date %>
	

  <div class="actions">
    <%= f.submit "Add contact to My Loop" %>
  </div>
<% end %>
