<div class="container">
	<div class="row-fluid">
		<div class="span9">
		
	
	
<legend>MyLoops</legend>
<% @loops.each do |loop| %>
I met <%= loop.firstname %> <%= loop.lastname %> at <%= loop.location %> on <%= loop.date %><br><br>

Name: <%= loop.firstname %> <%= loop.lastname%><br>
Title: <%= loop.title %><br>
Phone: <%= loop.phone %><br>
Email: <%= loop.email %><br>
Comment: <%= loop.comment %><br><br>

  
<% end %>
<%= link_to 'New Loop', new_loop_path %>
	</div>
</div>
</div>