<%= render 'dashbarindex' %>

<div class="container">
	<div class="row-fluid">
		<div class="span7">
			
			<div class="row-fluid">
				<div class="span12">
					<div id="contact-list-heading">
						My Contacts
					</div>
					
								<form class="search">
										<%= search_form_for @search do |f| %>
										<%= f.text_field :firstname_cont %>

										<div class="actions">
										<%= f.submit %>
										</div>
								</form>
								
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">								
				
					<% @loops.each do |loop| %>
						<div class="contact-list">
							<div class="span10">
							<div id="loop-name">
							<%= link_to loop, :class => "loop-name-css" do %>
							<%= loop.firstname + " " + loop.lastname %>
							<% end %> 
								<div id="loop-time-ago">
						        | <%= loop.date.strftime('%b %d, %Y') %> 
								</div>
							</div>
							<div class="loop-title">
								<%= loop.title %>
							</div>
							<hr>
					
						</div>
			
							<div class="span1">
								<div id="loop-index-edit">
								<%= link_to edit_loop_path(loop), :class => "btn" do %>
									<%= 'Edit' %>
									<% end %>
								</div>			
						</div>
					
							<div class="span1">
								<div id="loop-index-delete">
								<%= link_to loop_path(loop), :method => :delete, :confirm => "Are you sure?", :class => "btn" do %>
								<%= 'Delete' %>
								<% end %>
								</div>
							</div>		
						</div>
					
						<% end %>
						<% end %>
	
					<% current_user.friendships.each do |friendship| %>
					<div class="contact-list-friends">
						<div class="span10">
							<div id="loop-name">
				<%= link_to friendship, :class => "loop-name-css" do %>						
				<%= friendship.friend.firstname %> <%= friendship.friend.lastname %>
				<% end %>
					<div id="loop-time-ago">
			        | <%= friendship.created_at.strftime('%b %d, %Y') %> 
					</div>
							</div>
							<div class="loop-title">
				<%= friendship.friend.title %>
							</div>
							<hr>
						</div>
						
						<div class="span2">
							<div id="loop-index-delete">
								<%= link_to friendship_path(friendship), :method => :delete, :confirm => "Are you sure?", :class => "btn" do %>
								<%= 'Delete' %>
								<% end %>
							</div>
						</div>		
				<% end %>
					
					</div>
				
				</div>
			</div>	
				
		</div>
			
		<div class="span5">
			<div class="whatsnew-heading">
				Loop Number: <%= current_user.token%>
			</div>	
			<div class="whatsnew-part1">
			</div>
		</div>
	</div> 
</div>	