<%= render 'dashbarindex' %>

<div class="container">
	<div class="row-fluid">
		
		<div class="span7">
			<div id="contact-list-heading">
						My Contacts
					</div>
															
			<div class="contact-list">
				
					<form class="search">
					<%= search_form_for @search do |f| %>
					<%= f.text_field :firstname_cont %>
					</form>
				
					<div class="actions">
					<%= f.submit %>
					</div>
				
					<% if current_user.loops.count == 0 %>
					You have not added anyone to your loop yet, click <%= link_to "Add Contact", new_loop_path %> to begin. 
						<% else %>
						
					<% @loops.each do |loop| %>
					
					<div class="row-fluid">
						
						<div class="span10">
							<div id="loop-name">
							<%= link_to loop, :class => "loop-name-css" do %>
							<%= loop.firstname + " " + loop.lastname %>
							<% end %> 
								<div id="loop-time-ago">
						        | <%= loop.date.strftime('%b %d, %Y') %> 
								</div>
							</div>
							<div class="loop-title">
								<%= loop.title %>
							</div>
					
						</div>
			
						<div class="span1">
							<div id="loop-index-edit">
								<%= link_to edit_loop_path(loop), :class => "btn" do %>
									<%= 'Edit' %>
									<% end %>
							</div>			
						</div>
					
						<div class="span1">
							<div id="loop-index-delete">
							<%= link_to loop_path(loop), :method => :delete, :confirm => "Are you sure?", :class => "btn" do %>
							<%= 'Delete' %>
							<% end %>
							</div>
						</div>		
				
					
				<% end %>
				
				<% end %>
				
				<% end %>
					
					</div>
				<hr>
			</div>
					
			</div>
				
			<div id="friendship-loop">
				<% current_user.friendships.each do |friendship| %>
				<%= link_to friendship, :class => "loop-name-css" do %>
				<%= friendship.friend.firstname %> <%= friendship.friend.lastname %>
				<% end %>
				<%= friendship.friend.title %>
				<% end %>
			</div>
			
			
			
				
		</div>
		
		<div class="span5">
			<div class="whatsnew-heading">
				Loop Number: <%= current_user.token%>
			</div>	
			<div class="whatsnew-part1">
			</div>
		</div>
			
	</div> 
</div>	
