<%= render 'dashbarshow' %>

	<div class="container">
	<div class="show-wrapper">	
				<div class="row-fluid">
					<div class="span9">
						<div class="title">
							<%= @loop.firstname %> <%= @loop.lastname %>
							</div>
						<div class="how-we-met-wrapper">
					 		From <div id="how-we-met-location"><%= @loop.location %></div><br>
							On <div id="how-we-met-date"><%= @loop.date.strftime('%a %m %Y') %></div>
						</div>
					</div>
				
				
				<div class="span3">
					<div id="contact-heading">
						Contact info
					</div>

					<div class="row-fluid">
						<div class="span12">
							<div id="contact-field-css">
								Title
								</div>
							<div id="contact-answer-css">
							<%= @loop.title %>
							</div>
							<br>
							<div id="contact-field-css">
								Industry
								</div>
							<div id="contact-answer-css">
							<%= @loop.industry %>
							</div>
							<br>
							<div id="contact-field-css">
								Phone
								</div>
							<div id="contact-answer-css">
							<%= @loop.phone %>
							</div>
							<br>
							<div id="contact-field-css">
							Emails
							</div>
							<div id="contact-answer-css">
							<%= mail_to "#{@loop.email}" %>
							</div>
							<br>
							<div id="contact-field-css">
								Website:
								</div>
							<div id="contact-answer-css"><%= link_to "#{@loop.website}", @loop.website %></div>
						</div>
					</div>
		  		</div>
			</div>	


				<div class="row-fluid">
						
					<div class="span12">
						<div class="span12">
							
							<div class="heading-notes">
								Notes
								</div>
							
									<div id="comment-section">
									
										<div id="comment-section-heading">	

											<% @loop.comments.reverse.each do |comment| %>
											<div id="comment-section-body">
											<%= comment.body %>
											<div id="comment-section-created_at">
												added <%= time_ago_in_words(comment.created_at) %>
											</div>	
											<hr>
											</div>
									
										<% end %>
									
										</div>
									</div>	
								</div>
						

								<%= form_for ([@loop, @loop.comments.build]) do |f| %>
					  			<div class="field">
					<%= f.text_area :body, :placeholder => "New note about #{@loop.firstname}", :rows => 5, :style => "width:100%;" %></br>
					  </div>
								<%= f.submit 'Add note', :class => "btn" %>
								<% end %>
					</div>		
														
					

				</div>
		
	</div>		
</div>	