<!DOCTYPE html>
<html>
<head>
  <title>NetworkingLoop</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<div id="wrapper">

<body>

	
	<% if flash[:notice] %>
	<p id="notice"><%= notice %></p>
	 <% end %>
	
				<% if user_signed_in? %>
				  Logged in as <strong><%= current_user.email %></strong>.
				  <%= link_to 'Edit profile', edit_user_registration_path %> |
				  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
				<% else %>
				  <%= link_to "Sign up", new_user_registration_path %> |
				  <%= link_to "Login", new_user_session_path %>
				<% end %>
				
	<div class="row-fluid">
			<div id="top-menu">					
					<div id="logo">
						<h3><%= link_to "NetworkingLoop", home_index_path %></h3>
					</div>	
				
					<div id="menu1">
						<h3><%= link_to "Jobs", location_jobs_path(1) %></h3>
					</div>	
					
					<div id="menu2">
						<h3>Events</h3>
					</div>
					
					<div id="menu3">
						<h3>Professionals</h3>
					</div>
					
					<div id="menu4">
						<h3>MyLoop</h3>
					</div>
				
			</div>		
	</div>
	
<div class='bottom-menu'>
</div>	

	
<%= yield %>



</body>

</div>
</html>
