<!DOCTYPE html>
<html>
<head>
  <title>NetworkingLoop</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css" />
</head>

<div id="wrapper">

<body>

	
	<% if flash[:notice] %>
	<p id="notice"><%= notice %></p>
	 <% end %>
						
	<div class="row-fluid">
		<div class="span12">
			<div id="first-bar">
				
					<div class="span3">
						<div id="logo">
							<%= link_to home_index_path, :class => "logo-link-css" do %>
								<%= "Networking loop" %>
								<% end %>
						</div>
					</div>		
					
						<div class="span2">
							<div class="menu1-wrapper">
								<div id="menu1">
								<%= link_to locations_path, :class => "menu1-link" do %>
								<%= "job board" %>
								<% end %>
								</div>	
							</div>	
						</div>

						<div class="span2">
							<div class="menu2-wrapper">
							<div id="menu2">
								events
							</div>
							</div>
						</div>

						<div class="span2">
							<div class="menu3-wrapper">
							<div id="menu3">
							business
							</div>
							</div>
						</div>

						<div class="span2">
							<div class="menu4-wrapper">
							<div id="menu4">
								<%= link_to loops_path, :class => "menu4-link" do %> 
									<%= "dashboard" %>
									<% end %>
							</div>
					
							</div>
						</div>
						
			</div>	
		</div>	
	</div>		

	
	<%= yield %>

</body>

</div>
</html>
