<!DOCTYPE html>
<html>
<head>
  <title>Longislandjoblink</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<p id="notice"><%= notice %></p>
	

	<div class="row-fluid">
			<div id="top-menu">	
				
				
					<div id="logo">
						<h3>Long Island Board</h3>
					</div>	
				
					<div id="menu1">
						<h3> <%= link_to "Jobs", root_url %></h3>
					</div>	
					
					<div id="menu2">
						<h3>Events</h3>
					</div>
					
		
			</div>		
	</div>

<%= yield %>

</body>
</html>
