<!DOCTYPE html>
<html>
<head>
  <title>NetworkingLoop</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css" />
</head>

<div id="wrapper">

<body>

	
	<% if flash[:notice] %>
	<p id="notice"><%= notice %></p>
	 <% end %>
				
	<div class="row-fluid">
			<div id="top-menu">					
					<div id="logo">
						<%= link_to "NetworkingLoop", home_index_path %>
					</div>	
				
					<div id="menu1">
						<%= link_to location_jobs_path(1), :class => "menu1-link" do %>
							<%= "Jobs" %>
							<% end %>
					</div>	
					
					<div id="menu2">
						Events
					</div>
					
					<div id="menu3">
						Professionals
					</div>
					
					<div id="menu4">
						<%= link_to loops_path, :class => "menu4" do %> 
							<%= "My Loop" %>
						<% end %>
					</div>
					<div id="menu4-premium">PREMIUM</div>
					
			
						<% if user_signed_in? %>
						<div id="user-login">
						 	<%= link_to destroy_user_session_path, method: :delete, :class => "logout-link"  do  %>
							<%= "Logout" %>
						</div>	
						<% end %>
						<% end %>
					
				
			</div>		
	</div>

<%= yield %>



</body>

</div>
</html>
