<!DOCTYPE html>
<html>
<head>
  <title>Longislandjoblink</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="row-fluid">
			<div id="top-menu">	
				<div class="span9">
					<div id="logo">
						<h3> <%= link_to "Long Island Listing", root_url %></h3>
					</div>	
				</div>	
				<div class="span3">
					<div id="post-job">
						<h3><%= link_to "Post Job", new_job_path %></h3>
					</div>
				</div>	
			</div>		
	</div>



<%= yield %>

</body>
</html>
