<!DOCTYPE html>
<html>
<head>
  <title>Longislandjoblink</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<% if flash[:notice] %>
	<p id="notice"><%= notice %></p>
	 <% end %>
	

	<div class="row-fluid">
			<div id="top-menu">	
				
				
					<div id="logo">
						<h3> <%= link_to "LaunchBrite", home_index_path %> </h3>
					</div>	
				
					<div id="menu1">
						<h3> <%= link_to "Jobs", location_jobs_path(1) %></h3>
					</div>	
					
					<div id="menu2">
						<h3>Networking</h3>
					</div>
					
					<div id="menu3">
						<h3>Learning</h3>
					</div>
					
					<div id="menu4">
						<h3>Professionals</h3>
					</div>
					
					
		
			</div>		
	</div>

<%= yield %>

</body>
</html>
